#slider{
    height:400px;
    margin: auto;
    margin-top: 20px;
    }
    #slider img{
     width:100%;
     height:100%;
    }
    
    #slider-2{
     width:98%;
     height:400px;
     margin: auto;
     margin-top: 30px;
     }
     #slider-2 img{
      width:100%;
      height:100%;
     }
    
     #slider-3{
      width:98%;
      height:400px;
      margin: auto;
      margin-top: 30px;
      }
      #slider-3 img{
       width:100%;
       height:100%;
      }
    
      #slider-4{
       display: flex;
       margin: auto;
      }
      #slider-4 div{
       width:31.5%;
       margin: auto;
      }
      #slider-4 div img{
       width: 100%;
       margin: auto;
      }
      #slider-4 div h3{
       margin-top: -30px;
       background-color:whitesmoke;
       position: relative;
       width:90%;
      }
      #slider-4 div:nth-child(1){
       width:31.5%;
       margin: auto;
       height:313px;
      }
      #slider-4 div:nth-child(1) h3{
       margin-top: -50px;
      }
    
      #slider-5{
       width:98%;
       height:400px;
       margin: auto;
       margin-top: 30px;
       }
       #slider-5 img{
        width:100%;
        height:100%;
       }
    
       #slider-6{
        display: flex;
        margin: auto;
       }
       #slider-6 div{
        width:31.5%;
        margin: auto;
       }
       #slider-6 div img{
        width: 100%;
        margin: auto;
       }
       #slider-6 div h3{
        margin-top: -30px;
        background-color:whitesmoke;
        position: relative;
        width:90%;
       }
       #slider-6 div:nth-child(1){
        width:31.5%;
        margin: auto;
        height:313px;
       }
       #slider-6 div:nth-child(1) h3{
        margin-top: -50px;
       }
    
       #slider-7{
        display: flex;
        margin: auto;
       }
       #slider-7 div{
        width:31.5%;
        margin: auto;
       }
       #slider-7 div img{
        width: 100%;
        margin: auto;
       }
       #slider-7 div h3{
        margin-top: -30px;
        background-color:whitesmoke;
        position: relative;
        width:90%;
       }
       #slider-7 div:nth-child(1){
        width:31.5%;
        margin: auto;
        height:313px;
       }
       #slider-7 div:nth-child(1) h3{
        margin-top: -50px;
       }
    
       #slider-8{
        display: flex;
        margin: auto;
        width:98% ;
       }
       #slider-8 div{
        width:13%;
       }
    
       #slider-9{
        width:98%;
        height:400px;
        margin: auto;
        margin-top: 30px;
        }
        #slider-9 img{
         width:100%;
         height:100%;
        }
    
        #slider-10{
         display: flex;
         margin: auto;
         margin-top: 40px;
        }
        #slider-10 div{
         width:31.5%;
         margin: auto;
        }
        #slider-10 div img{
         width: 100%;
         margin: auto;
        }
    
        #slider-11{
         display: flex;
         margin: auto;
         margin-top: 40px;
        }
        #slider-11 div{
         width:49%;
         margin: auto;
        }
        #slider-11 div img{
         width: 100%;
         margin: auto;
        }