
/* =-=-=-=-=-=-=-=-=-=-=-=-=-= */
  #Acontainer{
    /* border: 1px solid yellowgreen; */
    margin: 75px 0px 0px 270px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #heading{
    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    /* padding: 15px 8px 15px 32px; */
    padding: 10px 8px 10px 32px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #1a1313;
    background-color: #f1f5f8;
    display: block;
  }
  #heading span{
    
    background-color: #f1f5f8;
  }

#data_div{
    border: 1px solid blue;
    /* color: #3b76ef; */
    background-color: #3b76ef;
    border-radius: 20px;
    margin: 60px;
}
#data_div > h1{
  background-color: #3b76ef;
  border-radius: 20px;
  padding: 10px;
  color: white;
}
#data_div span{
  background-color: #3b76ef;
  border-radius: 20px;
  color: white;
}

#data_div2{
  border: 1px solid blue;
  /* color: whitesmoke; */
  border-radius: 20px;
  background-color: #3b76ef;
  margin: 60px;
}
#data_div2 > h1{
  border-radius: 20px;
  padding: 10px;
background-color: #63c7ff;
color: white;
}
#data_div2 > span{
  border-radius: 20px;
background-color: #63c7ff;
color: white;
}