#container{
    width:35%;
    height:800px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 150px;
    border-radius: 5px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    /* background-color: rgb(245, 185, 195); */
     
}
#top{
    height: 14%;
    width:100%;
    /* border: 1px solid red; */
    margin-top: 65px;
    /* background-color: rgb(197, 243, 105); */
   
    
}




#bottom{
    height:70%;
    /* border: 1px solid green; */
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
   
}
#bottom>label{
    font-size:30px;
    font-weight: bold;
    color:rgb(88, 85, 85);
    
}
#bottom>input{
    height: 40px;
    border-radius:10px ;
    padding: 10px;
    font-style:sans-serif;
}
#top>img{
    display: flex;
    margin: auto;
    width:40%;
    
    height: 110px;
    margin-top: 20px;
    
}
#submit{
    height: 80px;
    border-radius: 10px;
    margin-top: 30px;
    background-color:gray;
    font-size: 30px;
    color: white;
    padding: 10px;
}
#bottom>h2{
    display: flex;
    margin: auto;
}

